.card {
  width: 500px;
  margin: 10px 15px;
}

p {
  word-break: break-all;
  word-wrap: break-word;
}

@media screen and (max-width: 520px) {
  .card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
